# All projects
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
node_modules
coverage
.nyc_output
.nyc_tmp
*.sublime-project
*.sublime-workspace
.DS_Store

# Project-specific
**/~$*.docx
lib
package-lock.json
