# GIT-NPM common
# --------------
# All projects
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
node_modules
coverage
.nyc_output
.nyc_tmp
*.sublime-project
*.sublime-workspace

# Project-specific


# NPM-specific
# ------------
# All projects
/.eslintrc.yaml
/.flowconfig
/.travis.yml
/.gitignore
/.npmignore
/docs/templates
/tools
/test
/package.js
/ROADMAP.md
/.prettierrc
/.eslintignore
/.prettierignore

# Project-specific
/src
/examples
/.github
/lib/__tests__
/rollup.config.js
